.header-logo {
  color: #ffffff;
  font-size: 42px;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.app-logo {
  background-image: url('/assets/logo.png');
  background-size: cover;
  font-weight: normal;
  color: #fff;
  line-height: 1;
  width: 165px;
  height: 57px;
}